/node_modules
.env
push.sh
update.sh
/ssl
/public/uploads/*
!/public/uploads/.gitkeep
!/public/uploads/blog/
!/public/uploads/blog/.gitkeep


firebase-adminsdk-*.json
lazimpay-profesional-firebase-adminsdk-*.json
firebase-key.json